@media(max-width:480px){
   #usuarioLogado{
  	 display: none !important;
  }
}

/* TOGGLE */
.aw-toggle {
	/* float: right; */
	/* line-height: 50px; */
	/* margin-right: 15px; */
	color: #fff;
	margin-left: 2%;
	vertical-align:50%;
}

/* MENU */
.aw-menu,
.aw-menu ul,
.aw-menu li,
.aw-menu a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  font-weight: normal;
  text-decoration: none;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  position: relative;
}
.aw-menu a {
  line-height: 1.3;
}
.aw-menu {
 /*  width: 250px; */
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding: 3px;
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
.aw-menu > ul > li {
  margin: 0 0 2px 0;
}
.aw-menu > ul > li:last-child {
  margin: 0;
}
.aw-menu > ul > li > a {
  font-size: 15px;
  display: block;
  color: #ffffff;
  text-shadow: 0 1px 1px #000;
  background: #565656;
  background: -moz-linear-gradient(#565656 0%, #323232 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #565656), color-stop(100%, #323232));
  background: -webkit-linear-gradient(#565656 0%, #323232 100%);
  background: linear-gradient(#565656 0%, #323232 100%);
  border: 1px solid #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.aw-menu > ul > li > a > span {
  display: block;
  border: 1px solid #666666;
  padding: 4px 8px !important; /* botão do menu */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-weight: bold;
}
.aw-menu > ul > li > a:hover {
  text-decoration: none;
}
.aw-menu > ul > li.active {
  border-bottom: none;
}
.aw-menu > ul > li.active > a {
 /*  background: #1e94d2; */ background: #286090;
  /* background: -moz-linear-gradient(#1e94d2 0%, #1671a0 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1e94d2), color-stop(100%, #1671a0));
  background: -webkit-linear-gradient(#1e94d2 0%, #1671a0 100%);
  background: linear-gradient(#1e94d2 0%, #1671a0 100%); */
  color: #fff;
  text-shadow: 0 1px 1px #000;
 /*  border: 1px solid #1671a0; */ border: 1px solid #204d74;
}
.aw-menu > ul > li.active > a span {
  /* border: 1px solid #1e94d2; */ border: 1px solid #204d74;
}


/* SUB MENU */
.aw-menu ul ul {
  padding: 5px 12px;
  display: none;
}
.aw-menu ul ul li {
  padding: 3px 0;
}
.aw-menu ul ul a {
  display: block;
   color: #595959; 
  font-size: 13px;
  font-weight: bold;
}
.aw-menu ul ul a:hover {
  color: #1671a0;
  background-color:#F6F6F6;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.aw-menu > ul i {
    margin-right: 4px;
}
.aw-menu > ul > li.has-sub > a span {
  background: url("#{request.contextPath}/resources/sistema/img/icon_plus.png") 98% center no-repeat;
}
.aw-menu > ul > li.has-sub.active > a span {
  background: url("#{request.contextPath}/resources/sistema/img/icon_minus.png") 98% center no-repeat;
}



/* PAGE-TITLE */
.aw-page-title {
	margin: 0;
	padding: 7px 0 !important;
	font-size: 1.5em;
	color: #373737; 
}

.ui-panelgrid .ui-panelgrid-cell {
	padding: 1px !important;/* espaçamento imput no grid */
}

.ui-widget-content {
    border: 0 !important; /* borda do painel grid do primefaces thema bootstrap */
}
.label-formulario{
	font-weight: bold;
	color: #373737;
	vertical-align: -30%;
}
.label-desabilitar{
	color: #B8B8B8 !important;
}

.ui-grid-row > .label-formulario{
	width: 5%;
	}

.ui-datatable thead th, .ui-datatable tbody td, .ui-datatable tfoot td, .ui-datatable tfoot th {
    padding: 3px 8px !important; /* linha do datatable */
}
.ui-datatable .ui-datatable-data tr:hover { /* destaca linha selecionada */
	background: #ebebeb;
}

.ui-widget-content.ui-state-highlight{
/*     color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    background-color: #60225b;
    background-position: 0px;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(to bottom, #0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0); */
}
/* tirar a seleção explicita do multiselect do datateblet no houver */
.ui-widget-content.ui-state-highlight:hover{
	background-color: none !important;
	 background-image: none !important;
}
/* tirar a seleção explicita do multiselect do datateblet */
.ui-widget-content .ui-state-highlight {
    background: #E3EAF3!important;
    border: none !important;
    color: #333333 !important;
}


.ui-inputfield.ui-state-error, .ui-widget-header .ui-inputfield.ui-state-error, .ui-widget-content .ui-inputfield.ui-state-error {
    border: 1px solid #bb504d!important;
}


@media(max-width:640px){
	.ui-panelgrid .ui-grid-responsive .ui-grid-row
	{
		border-top: none !important; /* retirando borda entre as linhas no grid quando a tela menor que 640px */
	}
}

/* Cor da imagem de check do multiselect no datatable */
.icon-cor-preto .ui-icon {
      background-image: url("#{request.contextPath}/resources/sistema/img/ui-icons_333333_256x240.png");
}
.icon-cor-azul .ui-icon {
      background-image: url("#{request.contextPath}/resources/sistema/img/ui-icons_6495ED_256x240.png");
}


/* ############# FINANCEIRO #############  */
.status_valor_pago{
	color:#0996DD;
}
.status_pendente{
	color: #ff9e0d;
}
.status_pago{
	color: #008000;	
}
.status_cancelado{
	color: #800080;	
}
.status_vence_hoje{
	font-weight: bold;
}
.status_vencido{
	color: #ff0000;	
}
.tipo-entrada{
	color: #008000;	
}
.tipo-saida{
	color: #ff0000;	
}

/* RESOLVER AQUELE PROBLEMA DO SelectOneMenu do Primefaces*/
.select-visible .ui-selectonemenu .ui-selectonemenu-label {
    overflow: visible ;
}

.ui-command-link{
	text-decoration: none;
	padding-right: 0.5em;
}
.ui-acoes-datatable{
	display: inline-block;
	float:right;
	text-align: center;
}
/* Fundo transperente do modal de status aguarde */
.ui-widget-overlay {
	filter:alpha(opacity=0) !important;/* works in IE 7 */
	opacity: 0 !important; /* works in Firefox */
}

/* Tabela dos lançamentos selecionados para cancelar ou estornar */
.table-cancelar table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #bbb;
}
.table-cancelar td, th {
    border-top: 1px solid #ddd;
    padding: 1px 8px;
}
@media (max-width: 640px) {
	.table-cancelar table {
		/* overflow-x: auto;
		display: block; */
	}
	.table-cancelar .td-hide1 {
		 display: none;
	}
}
@media (max-width: 480px) {
	.table-cancelar .td-hide2 {
		 display: none;
	}
}

.bloco-info-dashboard{
	border:1px solid #CCCCCC;
	border-radius:8px;
	margin:5px;
	padding:8px;
	min-height: 50px;
	border-bottom:2px solid #0996DD;
}
.icon-bloco-info-dashboard{
	color: #0996DD;
	vertical-align: -20px;
}
.label-bloco-info-dashboard{
	font-weight: bold;
	color: #373737;
	float: right;
}
.valor-bloco-info-dashboard{
	font-weight: bold;
	color: #373737;
	float: right;
	font-size: 15px;
}


.lista-categoria-entrada{
	color: #008000;	
}
.lista-categoria-saida{
	color:#0996DD;
}
.lista-categoria-entrada, .lista-categoria-saida:HOVER{
	color: #5C5C5C !important;
}

.empresa-bloco-form{
	border:1px solid #CCCCCC;
	border-radius:8px;
	margin:5px;
	padding:8px;
}
.empresa-bloco-form-title {
	margin: 0;
	padding: 5px 0 !important;
	font-size: 1.2em;
	color: #37b9f7; 
}
/* background do button do fileupload */
.ui-fileupload-buttonbar.ui-widget-header {
    background-color: transparent;
    border: 0 none;
}

.configuracao-bloco-form{
	border:1px solid #CCCCCC;
	border-radius:8px;
	margin:5px;
	padding:8px;
}
.configuracao-bloco-form-title {
	margin: 0;
	padding: 5px 0 !important;
	font-size: 1.2em;
	color: #37b9f7; 
}
.configuracao-tab-view .ui-tabs-panel {
    padding: 0 0 !important;
}
.configuracao-padding-top{
	padding-top:5px;"	
}

.configuracao-descricao{
	margin: 0;
	font-size: 1.1em;
	color: #373737; 
}


.cadastro-bloco-form{
	border:1px solid #CCCCCC;
	border-radius:8px;
	margin:5px;
	padding:8px;
}
.cadastro-bloco-form-title {
	margin: 0;
	padding: 5px 0 !important;
	font-size: 1.2em;
	color: #37b9f7; 
}

/* RECIBO */
.recibo-container {
	width: 100%;
	overflow-x: auto;
	white-space: nowrap;
}
.recibo-conteudo{
	background-color: #ffff80;
	border:1px solid #CCCCCC;
	border-radius:8px;
	margin:5px;
	padding:8px;
}
.recibo-conteudo h1,
.recibo-conteudo h2, 
.recibo-conteudo h3,
.recibo-conteudo h4{
	display: inline;
}
.recibo-conteudo p{
	font-size:20px;
	white-space: normal;
}
.recibo-conteudo span{
	font-weight: bold;
}
.recibo-centralizado{
	text-align:center;
}
.recibo-avulso-conteudo{
	/* width:670px; */
	background-color: #e2e2e2;
	border:1px solid #CCCCCC;
	border-radius:8px;
	margin:5px;
	padding:8px;
}
.recibo-avulso-conteudo h1,
.recibo-avulso-conteudo h2, 
.recibo-avulso-conteudo h3,
.recibo-avulso-conteudo h4{
	display: inline;
}
.recibo-avulso-conteudo p{
	font-size:20px;
	white-space: normal;
}
.recibo-avulso-conteudo span{
	font-weight: bold;
}

/*coluna selecionada para editar */
.dataTableLista-destaque > a:hover {
	font-weight:bold ;
}