* {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

body{
background:
radial-gradient(#fff 15%, transparent 16%) 0 0,
radial-gradient(#fff 15%, transparent 16%) 8px 8px,
radial-gradient(rgba(0,0,0,.1) 15%, transparent 20%) 0 1px,
radial-gradient(rgba(0,0,0,.1) 15%, transparent 20%) 8px 9px;
background-color:#fff;
background-size:16px 16px;

}

#login-dialog {
	width: 300px;
/* 	margin: auto;
	margin-top: 100px; */
	margin: 8% auto auto;
}

.grid-login {
	/* width: 300px; */
	background-color: #f2f2f2;
	border-radius: 8px;
	border: 1px solid #ccc;
	margin-top: 8px;
	padding: 8px;
}

.btn-success {
	cursor: pointer;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	text-shadow: none;
	border: 1px solid #448944;
	color: #fff;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #61c261
		), color-stop(1, #51a351));
	background: -moz-linear-gradient(top, #61c261 5%, #51a351 100%);
	background: -webkit-linear-gradient(top, #61c261 5%, #51a351 100%);
	background: -o-linear-gradient(top, #61c261 5%, #51a351 100%);
	background: -ms-linear-gradient(top, #61c261 5%, #51a351 100%);
	background: linear-gradient(to bottom, #61c261 5%, #51a351 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff61c261',
		endColorstr='#ff51a351', GradientType=0);
	padding: 3px 5px;
}

.btn-success:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #51a351
		), color-stop(1, #61c261));
	background: -moz-linear-gradient(top, #51a351 5%, #61c261 100%);
	background: -webkit-linear-gradient(top, #51a351 5%, #61c261 100%);
	background: -o-linear-gradient(top, #51a351 5%, #61c261 100%);
	background: -ms-linear-gradient(top, #51a351 5%, #61c261 100%);
	background: linear-gradient(to bottom, #51a351 5%, #61c261 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#51a351',
		endColorstr='#61c261', GradientType=0);
	background-color: #3e8f3e;
}

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
   color: #333333 !important;
}

.ui-messages-error{
 	background-color: #ffbaba !important;
 	color: #d8000c !important;
}
.ui-messages-error, .ui-message-error {
    background-color: #FFBABA !important;
    border-color: #FFBABA !important;
    color: #d8000c !important;
}
.ui-messages-error .ui-messages-close {/*  x de fechar */
    cursor: pointer !important;
    float: right !important;
}
.ui-message-error-summary {
    font-weight: bold  !important;
    margin-left: 10px  !important;
    color: #d8000c !important;
}
.ui-corner-all {
    border-radius: 4px !important;
}
.ui-inputfield {
    font-weight: normal !important;
    margin: 0!important;
    outline: medium none!important;
    padding: 4px!important;
    background: #ffffff none repeat scroll 0 0 !important;
    border: 1px solid #cccccc !important;
    border-radius: 3px !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset !important;
    cursor: default !important;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s !important;
}
.ui-inputfield:focus{
    border-color: rgba(82, 168, 236, 0.8) !important;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6) !important;
    outline: 0 none !important;
}


/* PAGINAS DE ERRO */
