/* background de onde fica os componentes do editor de texto, sobrescrevendo a classe do primefaces*/
.ui-editor-toolbar{
	background: rgba(255,255,255,1);/* Old Browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%) !important;/* FF3.6+ */
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(237,237,237,1))) !important;/* Chrome, Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%) !important;/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%) !important;/* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%) !important;/* IE 10+ */
	background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%) !important;/* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0) !important;/* IE6-9 */
}


/* arquivo in_cadastro_marcadores.xhtml */
.cadastro-bloco-form{
	border:1px solid #CCCCCC;
	border-radius:8px;
	margin:5px;
	padding:8px;
}
.cadastro-bloco-form-title {
	margin: 0;
	padding: 5px 0 !important;
	font-size: 1.2em;
	color: #37b9f7;
	 
}
.cadastro-bloco-form-output-label {
	color: #313B3F;
	font-weight: bold;
}
.dataTableLista-nomeDocumento > a:hover {
	font-weight:bold ;
}


